<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
  </head>
  <body>
    <h1>Prediction</h1>
    <form action="{{url_for('prediction')}}" method="post">
      <input
        type="text"
        name="Area"
        placeholder="Enter Area"
        required="required"
      />
      <button type="Submit">Predict</button>
    </form>
    <h2>The Prediction is: {{results}}</h2>
  </body>
</html>
